extends main.pug

block main-section
    .complete-info
        h1 Please complete your information
    .main-form
        form(action="/complete", method="POST")
            div
                label(for="firstName") First Name
                input(type="text" id="firstName" name="firstName" value= `${values.name.firstName}` disabled required=true) 

            div
                label(for="lastName") Last Name
                input(type="text" id="lastName" name="lastName" value= `${values.name.lastName}` disabled required=true)

            div
                label(for="emailAddress") Email
                input(type="email", name="email", id="emailAddress", value= `${values.email}` disabled required=true)

            div
                label Gender
                p
                    label(for="male") Male
                    input(type="radio", id="male",name="gender", value="male", class="light")
                p
                    label(for="female") Female
                    input(type="radio", id="female", name="gender", value="female", class="light")
                p
                    label(for="others") Others
                    input(type="radio", id="others", name="gender", value="others", class="light")
            
            div
                label(for="voterNumber") Voter ID Number
                input(type="text", id="voterNumber", required=true, name="voterNumber")

            div
                label(for="aadharNumber") Aadhar Number
                input(type="text", id="aadharNumber", required=true, name="aadharNumber")
            
            div
                button Submit